@import 'vendors/flexslider';
@import 'vendors/bootstrap';

@import 'utils/variables';
// @import 'utils/functions';
@import 'utils/mixins';
@import 'utils/helpers';

@import 'base/normalize';
@import 'base/typography';

// @import 'layout/navigation';
// @import 'layout/skeleton';
@import 'layout/header';
@import 'layout/footer';
// @import 'layout/sidebar';
// @import 'layout/forms';

// @import 'components/buttons';
// @import 'components/carousel';
// @import 'components/cover';
// @import 'components/dropdown';

// @import 'pages/home';
// @import 'pages/contact';

// @import 'themes/theme';
// @import 'themes/admin';
.test-class {
	color: red;
	background:none;
	z-index: 999;
}
body {
	background: red;
	display: flex
}
